/* Universal Box Sizing Heretat (última versió) */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* Vaud Font */

@font-face {
	font-family: 'vaud_regular';
	src: url('../fonts/vaud-regular.woff') format('woff'),
		 url('../fonts/vaud-regular.woff2') format('woff2'),
		 url('../fonts/vaud-regular.otf') format('otf');
	font-weight: normal;
}

@font-face {
	font-family: 'vaud_bold';
	src: url('../fonts/vaud-bold.woff') format('woff'),
		 url('../fonts/vaud-bold.woff2') format('woff2'),
		 url('../fonts/vaud-bold.otf') format('otf');
	font-weight: bold;
}

/* Estils Atòmics */

html {
	font-family: 'vaud_regular';
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: none;
	line-height: inherit;
}

ul.breadcrumbs {
	font-size: 1.4rem;
	padding: 3rem;
}

ul.breadcrumbs li{
	display: inline-block;
}

ul.breadcrumbs > * a:hover {
	color: #DA2D26;
}

ul.breadcrumbs > *:first-child:before {
	content: " ";
}

ul.breadcrumbs > *:before {
	content: "/";
	color: black;
}

ul.breadcrumbs > *:last-child {
	color: #F2914B;
	font-family: 'vaud_bold';
}

ul.paginacio {
	font-size: 2rem;
	padding: 3rem;
}

ul.paginacio li {
	display: inline-block;
	font-family: 'vaud_bold';
	padding: 0rem 1rem;
	height: 30px;
	text-align: center;
	line-height: 3.1rem;
}

ul.paginacio li.actual {
	border-radius: 1000px;
	background-color: #DA2D26;
	color: white;
}

ul.paginacio li a:hover {
	border-radius: 1000px;
	padding: 0rem 1rem;
	background-color: #F2914B;
}
