/* Universal Box Sizing Heretat (última versió) */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* Vaud Font */

@font-face {
	font-family: 'vaud_regular';
	src: url('../fonts/vaud-regular.woff') format('woff'),
		 url('../fonts/vaud-regular.woff2') format('woff2'),
		 url('../fonts/vaud-regular.otf') format('otf');
	font-weight: normal;
}

@font-face {
	font-family: 'vaud_bold';
	src: url('../fonts/vaud-bold.woff') format('woff'),
		 url('../fonts/vaud-bold.woff2') format('woff2'),
		 url('../fonts/vaud-bold.otf') format('otf');
	font-weight: bold;
}

/* Estils Atòmics */

html {
	font-family: 'vaud_regular';
	font-size: 62.5%;
}

.breadcrumbs {
	font-size: 1.4rem;
}

.breadcrumbs li{
	display: inline-block;
}

.breadcrumbs > *:first-child:before {
	content: " ";
}

.breadcrumbs > *:before {
	content: "/";
	color: black;
}

.breadcrumbs > *:last-child {
	color: orange;
	font-weight: bold;
}
